<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <!-- Required for V8/Node.js memory allocation -->
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key>
    <true/>
    <!-- Required if your app loads third-party native node modules -->
    <key>com.apple.security.cs.disable-library-validation</key>
    <true/>
    <!-- Required if your app makes outbound network requests -->
    <key>com.apple.security.network.client</key>
    <true/>
</dict>
</plist>
