#displayFields, #queryTerm  {
    width: 100%;
    box-sizing: border-box;
}

div {
    padding: 5px;
}

select {
    max-width: 100%;
}

.scroll-container select {
    overflow-x: auto;
    min-width: 100%; 
}

.batch {
    visibility: hidden;
}

.rownum {
    width: 50px;
}

#secondaryIndexDialog select {
    overflow-x: auto;
    min-width: 225px;
    width: 225px;
}

.dialogFilter * {
    width:100%
}

#index {
    text-overflow: ellipsis;
    max-width: 125px;
    width: 125px
}

#resultField {
    text-overflow:ellipsis;
    max-width:125px;
    width:125px
}

.menuBar {
    white-space: nowrap;
}