#displayFields, #queryTerm  {
    width: 100%;
    box-sizing: border-box;
}

div {
    padding: 5px;
}

.scroll-container {
    overflow-x: auto;
}

#searchTerms {        
    min-width: 100%; 
}

#batchrows {
    visibility: hidden;
}

.rownum {
    width: 50px;
}