html {
  color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden; /* Critical: locks the main page background */
    font-family: sans-serif;
}

.marc {
    border-collapse: collapse;
    width: 100%;
}

.marc td,th {
    border: 1px solid black;
    padding: 5px;
}

.sidebar {
    width: 275px;
    flex-shrink: 0;
    overflow-y: auto
}

.container {
    display: flex;
    height: 100vh;
}

#catalogList {
    min-width: 100%
}

#resultsPanel {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

#appTitle tr {
    vertical-align: bottom;
}

.configButton {
    padding: 5px;
    font-size: 16px
}

.hidden {
    visibility: hidden
}

@media print {
    .sidebar, #resultCount, #download, #navigation, .viewlink {
        display: none;
    }
    
    #resultsPanel {
        margin-left: 0px
    }
}