html {
  color-scheme: light dark;
}

body {
    font-family: sans-serif;
}

.marc {
    border-collapse: collapse;
    width: 100%;
}

.marc td,th {
    border: 1px solid black;
    padding: 5px;
}

.sidebar {
    width: 250px;
    position: fixed;
}

.container {
    display: flex
}

#settingsPanel {
    flex: 1;
    padding: 20px;
    margin-left: 200px;
}

#catalogList {
    min-width: 100%
}

#resultsPanel {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

#appTitle tr {
    vertical-align: bottom;
}

.configButton {
    padding: 5px;
    font-size: 16px
}

.hidden {
    visibility: hidden
}

@media print {
    .sidebar, #resultCount, #download, #navigation, .viewlink {
        display: none;
    }
    
    #resultsPanel {
        margin-left: 0px
    }
}